<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<dict>
		<key>code1</key>
		<string>A19BC236D4B010356448351B04ECDB84</string>
		<key>code2</key>
		<string>B03516CB7628B851EBAA956320FC9485</string>
		<key>code3</key>
		<string>D63BD0C8CE689E80E5DCB72E128114D1</string>
		<key>code4</key>
		<string>47C0EB25E14D28B597C86C512A91AB15</string>
	</dict>
	<key>agcgw</key>
	<dict>
		<key>websocketbackurl</key>
		<string>connect-ws-dre.hispace.dbankcloud.cn</string>
		<key>backurl</key>
		<string>connect-dre.dbankcloud.cn</string>
		<key>websocketurl</key>
		<string>connect-ws-dre.hispace.dbankcloud.com</string>
		<key>url</key>
		<string>connect-dre.hispace.hicloud.com</string>
	</dict>
	<key>client</key>
	<dict>
		<key>appType</key>
		<string>9998</string>
		<key>cp_id</key>
		<string>5190090000029334303</string>
		<key>product_id</key>
		<string>736430079244784036</string>
		<key>client_id</key>
		<string>541387866534588800</string>
		<key>client_secret</key>
		<string>[!000AA3529308F7DFB40D7DB3C7AF2A98E6AC30B206BCEDD304198F2F75D083E37CB73CCBBE04849AEC7CC19D4270769B11C121DAADF62A9483FF007D573EA32CA7CA113BDC488716A56E33527B5CF4424A3DFD750A3745064C8C46C45B4E2BA6FC]</string>
		<key>project_id</key>
		<string>736430079244784036</string>
		<key>app_id</key>
		<string>105385871711717345</string>
		<key>api_key</key>
		<string>CgB6e3x9ifsTg4TvoH1tDEbfEu/gEDZqBpIpCtR7LJ+7tgMXgxMgYfg2oqNLGnk2Oig0FrbRNm6CDWUD+MEBnpMr</string>
		<key>package_name</key>
		<string>ucargiray.Okan-University-Coding-Challenge</string>
	</dict>
	<key>service</key>
	<dict>
		<key>analytics</key>
		<dict>
			<key>collector_url</key>
			<string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
			<key>resource_id</key>
			<string>p1</string>
			<key>channel_id</key>
			<string></string>
		</dict>
		<key>search</key>
		<dict>
			<key>url</key>
			<string>https://search-dre.cloud.huawei.com</string>
		</dict>
		<key>ml</key>
		<dict>
			<key>mlservice_url</key>
			<string>ml-api-dre.ai.dbankcloud.com,ml-api-dre.ai.dbankcloud.cn</string>
		</dict>
		<key>cloudstorage</key>
		<dict>
			<key>storage_url</key>
			<string>https://ops-dre.agcstorage.link</string>
		</dict>
	</dict>
	<key>region</key>
	<string>DE</string>
</dict>
</plist>
